.row{
    width: 100%;
    /*margin: 0 auto;*/
    text-align: center;
}

.horizontalBlock{
    /* display: inline-block; */
    display: inline;
    height: 300px;
    text-align: center;
}

.headerElementZone{
    /* position: absolute; */
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
}

.headerElement{
    margin: 5px;
    cursor: move;
    z-index: 10;
    background-color: #aab;
    color: #fff;
    border: solid gray 1px;
    border-radius: 3px;
}