.row{
    width: 100%;
    /*margin: 0 auto;*/
    text-align: center;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.horizontalBlock{
    /* display: inline-block; */
    display: inline;
    height: 300px;
    text-align: center;
}

.dataElementZone{
    /* position: absolute; */
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
}

.dataElement{
    margin: 5px;
    cursor: move;
    z-index: 10;
    background-color: #aab;
    color: #fff;
    border: solid gray 1px;
    border-radius: 3px;
}